<div class="tabs-left">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs abm">
		<li class="active" data-toggle="tooltip" data-placement="right" title="Listado">
			<a href="#list" data-toggle="tab" class="list" data-route="list">
				<i class="fa fa-bars fa-lg"></i>
			</a>
		</li>
		<li data-toggle="tooltip" data-placement="right" title="Nuevo">
			<a href="#new" data-toggle="tab" class="new" data-route="new">
				<i class="fa fa-plus fa-lg"></i>
			</a>
		</li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="list">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{title}}
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
		<div class="tab-pane" id="new">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{title}}
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>
