.date .hours{
	height: 150px;
	overflow: hidden;
}

table.date td.active, table.date td.today.active {
	background-color: #DFF0D8;
}

table.date td {
	border-radius: 6px;
}

table.date td.today {
	font-weight: bold;
	background-color: whiteSmoke;
}

table.date td.day.old,
table.date td.day.new {
	background-color: #E5E5E5;
	border-radius: 0px;
}

table.date td:not(.active):hover,
table.date th.next:hover,
table.date th.prev:hover,
table.date th.switch:hover,
div.date div.action:hover {
	background-color: #FCF8E3;
	border-radius: 6px;
}

table.date th:hover,
table.date td:hover,
div.date div.action:hover{
	cursor: pointer;
}

table.date td.year {
	padding: 10px;
}

table.date tbody.years tr{
	margin-left: 5px;
	margin-right: 5px;
}

div.date {
	padding: 5px;
}